{% if project_list %}
    <ul>
    {% for project in project_list %}
        <li><a href="projects/{{ project.id }}/">{{ project.project_name }}</a></li>
        <p> {{ project.num_sites }} Sites </p>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}
