{% if image_list %}
    
    <ul>
    {% for image in image_list %}
        <li><a href="images/{{ image.id }}/">{{ image.image_url }}</a></li>

    <p> {{ image.num_boxes }} Boxes </p> 
    {% endfor %}
    </ul>
{% else %}
    <p>No images are available.</p>
{% endif %}
