{% if site_list %}

    {% for site in site_list %}
    <fieldset>
    
        <li><a href="sites/{{ site.id }}/">{{ site.site_name }}</a></li>
        <br>{% for class in site.site_classes.all %}{{ class }}<br/>{% endfor %}
        <tr><input type ="checkbox" name="names" value={{site.num_images}}><a href="sites/{{ site.id }}/download">{{ site.num_images }} images download</a></tr>  
        
    </fieldset>
    {% endfor %}
            
    </ul>
{% else %}
    <p>No sites are available.</p>
{% endif %}
