

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>searchbox</title>


</head>
<html>
    <head>
        <title>Table Demo</title>
          <script src="/home/clyde/Downloads/new/automatic_annotator_tool/django_app/search/templates/search/js/jquery.js"></script> 
          <script src="/home/clyde/Downloads/new/automatic_annotator_tool/django_app/search/templates/search/media/js/jquery.dataTables.min.js"></script> 
		  <link href="/home/clyde/Downloads/new/automatic_annotator_tool/django_app/search/templates/search/media/css/jquery.dataTables.min.css" rel="stylesheet">
    <script>
     $(document).ready(function(){
	   $("#myTable").dataTable();
	 });
   
   </script>
 </head>
    <body>
      
			<table id = "myTable">
					<thead >
						<tr>
							<th> projects</th>
							<th> sites</th>
							<th> classes</th>
						</tr>
					</thead>
					<tbody>
						{%for classes in classes_summary%}
						{%for projects in projects_summary%}
						{%for sites in sites_summary%}
						<tr>
							<td>{{projects}}</td>
							<td>{{sites}}</td>
							<td>{{classes}}</td>
						</tr>
						{% endfor %}
						{% endfor %}
						{% endfor %}
					</tbody>
			
			
				</table>
				</div>
			
			</body>

<h3>Search by Sites</h3>
<body>
    <form method="post">    
        {% csrf_token %}
        
       {{project_id_form.as_table}} 
        <button type="submit">Submit</button>
    </form>

    <form method="post">    
        {% csrf_token %}
        
       {{site_id_form.as_table}} 
        <button type="submit">Submit</button>
    </form>

<h3>Search by Classes</h3>

    <form method="post">    
        {% csrf_token %}
        {{class_id_form.as_table}} 
        <button type="submit">Submit</button>
    </form>

<h3>Upload data</h3>

    <form method="post">
        {% csrf_token %}
        {{update_db_form.as_table}}
        <button type="submit">Submit</button>
    </form>



</body>
</html>