<html>
    <head>
        <title>Table Demo</title>
          <script src="js/jquery.js"></script> 
          <script src="media/js/jquery.dataTables.min.js"></script> 
		  <link href="media/css/jquery.dataTables.min.css" rel="stylesheet">
    <script>
     $(document).ready(function(){
	   $("#myTable").dataTable();
	 });
   
   </script>
 </head>
    <body>
      
			<table id = "myTable">
					<thead >
						<tr>
							<th> projects</th>
							<th> sites</th>
							<th> classes</th>
						</tr>
					</thead>
					<tbody>
						{%for classes in classes_summary%}
						{%for projects in projects_summary%}
						{%for sites in sites_summary%}
						<tr>
							<td>{{projects}}</td>
							<td>{{sites}}</td>
							<td>{{classes}}</td>
						</tr>
						{% endfor %}
						{% endfor %}
						{% endfor %}
					</tbody>
			
			
				</table>
				</div>
			
			</body>