

    <!DOCTYPE html>
    <html lang = "en">
        <head>
            <meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
            {% load static %}
            <link rel = "stylesheet" type = "text/css" href = "{% static 'search/css/bootstrap.css' %}"/>
            <link rel = "stylesheet" type = "text/css" href = "{% static 'search/css/jquery.dataTables.css' %}"/>
        </head>
    <body>
        <nav class = "navbar navbar-default" >
            <div class = "container-fluid">
                <a class = "navbar-brand ">Sourcecodester</a>
            </div>
        </nav>
        <div class = "col-md-3"></div>
        <div class = "col-md-6 well">
            <h3 class = "text-primary">Python - How To Use DataTables With Django</h3>
            <hr style = "border-top:1px dotted #000;"/>
            {% block body %}
            {% endblock %}
        </div>
     
    </body>
    <script src = "{% static 'search/js/jquery-3.2.1.js' %}"></script>
    <script src = "{% static 'search/js/jquery.dataTables.js' %}"></script>
    <script type = "text/javascript">
        $(document).ready(function(){
            $('#basic_table').DataTable();
        });
    </script>
    </html>