<style>
.button {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 10px;
     position:absolute;
     display: inline-block;
     top:5px;
     right:10px;
}

</style>


<button class= "button" onclick="window.location.href = 'http://13.232.246.51:8000/search/';">Back</button>

<!DOCTYPE html>
{% load static %}
<html>
<body>

<img src="{% static 'tmp.jpg' %}" alt="Flowers in Chania" width="460" height="345">
</body>
</html>

<body>
    <form method="post">

       {% csrf_token %}
       {{bb_form.as_table}}
        <button type="submit">Submit</button>
    </form>
</body>



