{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>searchbox</title>

</head
<html>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
.dataTables_wrapper .dataTables_length {
float: bottom;
}
.dataTables_wrapper .dataTables_filter {
float: left;
text-align: left;
}
</style>

    <script>
    $(document).ready(function() {
                $('#SiteTable').DataTable({
          "dom": '<"top"f>rt<"bottom"il><"clear">'
        });
        } );
    </script>


<style>
.button {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 100px;
     position:absolute;
     display: inline-block;
     top:0;
     right:0;
}

</style>

    <head>
        <h1>Images Summary</h1>
    </head>
    <button class= "button" onclick="window.location.href = 'http://13.232.246.51:8000/search/';">Back</button>
    <body>

<p>Site Name: {{site_name}}</p>



        <table id = "SiteTable" class="table table-striped cell-border display" border="0" cellpadding="0" cellspacing="0" style="width:50%;float:left;" >

                <thead >
                        <tr>
                        <th> filename </th>
                        <th> date </th>
                        <th> human_or_not </th>
                        <th> view image </th>
                        </tr>
                </thead>
                <tbody>
                        {% for images in images_summary %}
                        <tr>
                           <td>{{images.filename}}</td> 
                           <td>{{images.date}}</td>
                           <td>{{images.human_or_not}}</td>
                           <td><a href="http://13.232.246.51:8000/search/display_images?name={{images.image_url}}">click here</a></td> 
                        </tr>
                {% endfor %}
                </tbody>
        </table>


