<style>
.button {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 10px;
     position:absolute;
     display: inline-block;
     top:5px;
     right:10px;
}

</style>


<h1>Search by Sites</h1>
<button class= "button" onclick="window.location.href = 'http://13.232.246.51:8000/search/';">Back</button>
<body>
    <form method="post">

       {% csrf_token %}
       {{project_id_form.as_table}}
        <button type="submit">Submit</button>
    </form>

    <form method="post">

        {% csrf_token %}
       {{site_id_form.as_table}}
        <button type="submit">Submit</button>
    </form>
</div>
<div>

