{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>searchbox</title>

</head
<html>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
   <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
.dataTables_wrapper .dataTables_length {
float: bottom;
}
.dataTables_wrapper .dataTables_filter {
float: left;
text-align: left;
}
</style>


    <script>
    $(document).ready(function() {
                $('#ProjectTable').DataTable({
          "dom": '<"top"f>rt<"bottom"il><"clear">'
	});
        } );
    </script>
   
    <script>
    $(document).ready(function() {
        $('#SiteTable').DataTable({
          "dom": '<"top"f>rt<"bottom"il><"clear">'
    } );
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#ClassTable').DataTable({
          "dom": '<"top"f>rt<"bottom"il><"clear">'
    } );
    } );
    </script>

<style>
.button {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 100px;
     position:absolute;
     display: inline-block;
     top:0;
     right:0;
}
.button2 {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 5px;
     position:absolute;
     display: inline-block;
     top:0;
     right:0;
}


.button3 {
     line-height: 20px;
     width: 70px;
     font-size: 10pt;
     font-family: tahoma;
     margin-top: 5px;
     margin-right: 200px;
     position:absolute;
     display: inline-block;
     top:0;
     right:0;
}

</style> 



    <head>
        <h1>DB Summary</h1>
    </head>
    <button class= "button" onclick="window.location.href = 'http://13.232.246.51:8000/search/sites/';">Sites</button> 
    <button class= "button2" onclick="window.location.href = 'http://13.232.246.51:8000/search/classes/';">Classes</button> 
    <button class= "button3" onclick="window.location.href = 'http://13.232.246.51:8000/search/upload/';">Upload</button> 
    <body>




        <table id = "ProjectTable" class="table table-striped cell-border display" border="0" cellpadding="0" cellspacing="0" style="width:50%;float:left;" >

		<thead >
			<tr>
			<th> projects</th>
			</tr>
		</thead>
		<tbody>
			{% for projects in projects_summary %}
			<tr>
			   <td><a href="http://13.232.246.51:8000/search/sites_tree?name={{projects}}">{{ projects }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
        </table>
        <table id = "ClassTable" class="table table-striped cell-border display" border="0" cellpadding="0" cellspacing="0" style="width:50%;float:left;">
                <thead >
                    <tr>
                        <th> classes</th>
                        </tr>
                </thead>
                <tbody>
                    {% for classes in classes_summary %}
                    <tr>
			<td><a href="http://13.232.246.51:8000/search/classes_sites_tree?name={{classes}}">{{classes }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        
<body>
  <section class="section">
    <div class="container">
          <div id="app" class="columns"><!-- React --></div>
    </div>
  </section>
</body>
{% load static %}
<script src="{% static "uvlearn/main.js" %}"></script>
</html> 
