.active-containers{
    position:absolute;
    left:180px;
    top:86px;
    width:800px;
    height:750px;
   
    padding:20px;


}

.cvat-container{
    position:absolute;
    left:50px;
    top:86px;
    display:inline-flex;


}

.detector-container{
    position:absolute;
    left:50px;
    top:86px;
    display:inline-flex;


}