.meta-div{
position:absolute;
left:600px;
top:0px;
padding:20px;
width:600px;
height:800px;
}

.meta-div-project{
    position:absolute;
    left:400px;
    top:0px;
    padding:20px;
    width:600px;
    height:800px;
    }

.meta-div-site{
    position:absolute;
    left:400px;
    top:0px;
    padding:20px;
    width:600px;
    height:800px;
    }



.meta-div-cams{
    position:absolute;
    left:800px;
    top:150px;
  
    padding:20px;
    width:600px;
    height:800px;
    }
    

.pnr{
    position:absolute;
    left:290px;
    top:7px;
    width:300px;
    
    padding:20px;


}

.pnr-cam{
    position:absolute;
    left:750px;
    top:110px;
    width:300px;
    
    padding:20px;


}

.pnr-table{
    position:absolute;
    left:500px;
    top:14px;
    width:900px;
    height:900px;
    border:solid black;
    padding:20px;


}

.pnr-graph{
    position:absolute;
    left:600px;
    top:7px;
    width:300px;
    
    padding:20px;


}


.pnr-checkbox{
    position:absolute;
    left:500px;
    top:7px;
    width:650px;
    height:600px;
    border:solid black;
    padding:20px;


}

.pnr-checkbox2{
    position:absolute;
    left:1000px;
    top:150px;
    width:800px;
    height:800px;
    border:solid black;
    padding:20px;


}

.ssim{
    position:absolute;
    left:800px;
    top:150px;
    width:900px;
    height:900px;
    border:solid black;
    padding:20px;


}

.datessim{
    position:absolute;
    left:600px;
    top:40px;
    width:1000px;
    height:600px;
    border:solid black;
    padding:20px;


}
.cvat{
    position:absolute;
    left:600px;
    top:7px;
    width:600px;
    height:800px;
    border:solid black;
    padding:20px;


}

.display{
    position:absolute;
    left:500px;
    top:40px;
    width:800px;
    height:800px;
    border:solid black;
    padding:20px;


}
.display-classes{
    position:absolute;
    left:600px;
    top:40px;
    width:800px;
    height:570px;
   
    padding:20px;


}

.display-image{
    position:absolute;
    left:500px;
    top:150px;
    width:800px;
    height:750px;
   
    padding:20px;


}

.meta-filters{
    position:absolute;
    left:1200px;
    top:0px;
   
    padding:20px;
    width:500px;
    height:500px;
    }

.meta-filters-cam{
    position:absolute;
    left:1400px;
    top:200px;
   
    }


.headerForDiv{
    position:absolute;
    left:150px;
    top:10px;

    }

.headerForDivCam{
    position:absolute;
    left:6   0px;
    

    }
    

.show-options{
    position:absolute;
    height:300px;
    width:300px;

    }
    

.cvatSubmit{
    position:absolute;
    top:700px;
    left:220px;
    }


    .meta-cam-new{
        position:absolute;
        left:800px;
        top:150px;
        
        padding:20px;
        width:600px;
        height:800px;
        }
        