.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
.td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even) {
    background-color: #dddddd;
  }
.charts{

    left:1000px;
}
.TP{
    top:100px;
    left:600px;
}