.nav{
    position: absolute;
    left:220px;
    top:110px;
    width:600px;
  }

  .nav-cam{
    position: absolute;
    left:220px;
    top:110px;
    width:1000px;
  }

  .nav-images{
    position: absolute;
    left:220px;
    top:110px;
    width:500px;
  }