.train-detector{
    position:absolute;
    left:200px;
    top:100px;
 
    padding:20px;
    width:600px;
    height:800px;
    }
    
.img-calc{
    position:absolute;
    left:600px;
    top:0px;
   
    padding:0px;
    width:500px;
    height:200px;
    }

.test-display{
    position:absolute;
    left:600px;
    top:20px;
    width:300px;
    padding:0px;
    height:600px;
    overflow-y:auto;
    
    }
    
    
.compact-dates{
    
    width:550px;
   
    }
    
.display-img{
    position:absolute;
    left:950px;
    top:20px;
    width:600px;
    height:600px;
    padding:0px;
    border:black solid
    
    }