
.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    margin-top: 40000px;
    overflow-y: auto;
    padding-bottom: 64px;
  
    .sidebar-item:hover {
      background: #ebebeb;
    }
  }
  
  .side-nav.ui.vertical.menu {
    width: 17rem;
  }
